html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
}

.background {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.tough_mudder {
  background-position: left;
  background-size: cover;
  background-image: url("tough_mudder.jpg");
}

#root {
  height: 100%;
}

.info-wrapper {
  opacity: 0.85;
  background-color: #222;
  padding: 20px;
  color: white;
}

.portfolio {
  background-color: darkblue;
  width: 40%;
  text-align: center;
}

.portfolio h1 {
  padding-top: 2rem;
}

.portfolio img {
  width: 90%;
  margin: 5%;
  height: auto;
}

.full-screen {
  height: 100%;
}

.header {
  text-align: right;
  border-style: solid;
  border-width: 5px;
}

.title {
  font-size: 3.5em;
}

.navigation {
  height: 50px;
}

.glyphicon {
  color: darkorange;
  font-size: 2em;
}

.btn {
  background-color: #222;
}

.tips {
  width: 27%;
  font-size: 1.5em;
  text-align: center;
  word-wrap: break-word;
  color: grey;
}

#description {
  color: darkorange;
  font-weight: bold;
}
